<footer class="page-footer font-small blue" style="color:#ffffff;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/" style="color:#ffffff;">Energy Insight</a>
  </div>
  <!-- Copyright -->

</footer>
</body>
</html>
