<%- include('partials/header2.ejs') %>
    <div class="container" style="padding-top:2em;">
      <section class="row mt-5 text-center">
        <div class="col-md-6 m-auto">
          <h1><i class="fas fa-times-octagon fa-2x"></i></h1>
          <h1 class="display-4">Sorry!</h1>
          <p class="lead">
            Something went wrong, please go back and make sure all fields are
            filled in correctly.
          </p>
          <a class="btn btn-secondary" href="/subscribe">Back</a>
        </div>
      </section>
    </div>
<%- include('partials/footer.ejs') %>
