<%- include('partials/header2.ejs') %>
    <div class="container" style="padding-top:2em;">
      <section class="row mt-5 text-center">
        <div class="col-md-6 m-auto">
          <h1><i class="fas fa-thumbs-up fa-2x"></i></h1>
          <h1 class="display-4">Success!</h1>
          <p class="lead">
            Thank you for subscribing!!<br>
            You have subscribed to get awesome articles related to your favorite topics!!<br>
            A mail has been sent to your email confirming the successful subscription.
          </p>
          <a class="btn btn-secondary" href="/home">HOME</a>
        </div>
      </section>
    </div>
<%- include('partials/footer.ejs') %>
